<%= turbo_frame_tag("articles") do %>
  <div id="articles">
    <% if @articles.present? %>
      <%= render @articles %>
    <% elsif params[:query].present? %>
      <div>
        No results for this search "<%= params[:query] %>"
      </div>
    <% else %>
      <div>
        You can search for articles from the box at the top..
      </div>
    <% end %>
  </div>
<% end %>
