<div class="flex flex-col w-full">
  <h1 class='text-2xl m-3 mb-5 pl-0 p-3 border-b border-gray-500 w-1/5'>
    <%= current_user.admin? ? 'All' : 'My' %>
    Searches
  </h1>

  <div id="searches" class="m-3 mb-5 pl-0 p-3 w-1/4">
    <% @searches.each do |search| %>
      <div class="search mb-3 pl-0 p-2 text-lg text-gray-600">
        <%= search.query %>
        <hr class='ml-0 m-1 border-b border-gray-300'>
      </div>
    <% end %>
  </div>
</div>
